/* import fonts */
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* variables */
:root{
    /******** fonts ******/
    --Roboto: 'Roboto', sans-serif;
    --Bebas: 'Bebas Neue', cursive;


    /* ********** colors ***********/
    --Primary_C1:#b1b3b5;
    --Primary_C1_light:#777b7e42;
    --Primary_text_Color: green;
    --Primary_text_Color_light: rgba(85, 219, 85, 0.126);
    --Primary_text_Color2: rgb(85, 219, 85);
    --Primary_text_Color_transparent:rgb(165, 202, 13);
    --wt:#fff;
    --blk:#000;
    --transparentBlk:  rgba(0, 0, 0,0.3);
    --footerBg:#2f353b;

}

header.nav{
    min-height: 100vh;
    /* height: 800px; */
    background-image: linear-gradient( to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/13235422/pexels-photo-13235422.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load');
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav{
    /* background-color: black; */
    font-family: var(--Roboto);
}
.header_navigate{
    border-bottom: 1px solid var(--Primary_C1_light);
    position: sticky;
    top: 0;
    z-index: 11000;
}
.nav-container{
    /* background-color: red; */
    padding: 10px;
    /* color: var(--Primary_C1); */
}
.nav-container li{
    list-style-type: none;
    /* background-color: red; */
    margin: 10px;
}
.nav-container li a{
    color: var(--Primary_C1);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 5px 0;
    border-bottom: 0.5px solid var(--Primary_C1);
}
.brand-logo{
    cursor: pointer;
}
.header_heading span{
    color: var(--Primary_text_Color);
}
.header_heading{
    font-family: var(--Bebas);
    font-weight: 500;
    font-size: 7rem;
    padding: 20px 0;
    color: var(--wt) ;

}
/* .header-form{
    background-color: rebeccapurple;
} */
.header-form > .row{
    gap: 20px;
}
.header-form .row > .col-sm:not(.header_steps) {
    background-color:  var(--transparentBlk) ;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--wt);
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid var(--Primary_C1_light);
    text-align: center;
}

.header-form .row > * label{
    color: var(--Primary_text_Color);
    font-family: var(--Roboto);
    font-weight: bolder;
    font-size: 2rem;
}

.header-form .row > * input, .header-form .row > * select{
    height: 50px;
    padding: 10px;
    background-color:var(--Primary_text_Color_transparent);
    cursor: pointer;
    border: 3px solid var(--Primary_text_Color);
    border-radius: 10px;
    outline: none;
}

.header-form  .btn-availability{
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    font-family: var(--Roboto);
    font-weight: 600;
    border: none;
    background-color: var(--Primary_text_Color2);
    color: var(--blk);
}
/* .bottow-style-element{
    min-height: 150px;
    background-color: red;
    position:absolute;
    bottom: 0;
} */
.header_explain_container{
    /* background-color: red; */
    min-height: 100px;
    /* background-image: url(../assets/img/websiteElements-01.png ); */
    background-image: url(../assets/img/backgroundTexture1-01.png );
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}
/* .header_explain_container .container{
    background-color: rebeccapurple;
} */
.header_explain{
    margin-top: 100px;
    color: var(--wt);
    color: var(--Primary_C1);
    font-family: var(--Roboto);
    font-weight: 100;
    font-size: 1.6rem;
    text-align: center;
}
.header_explain span{
    font-weight: 1000;
}
footer{
    margin-top: 0 !important;
    background-color: var(--footerBg);
    padding: 30px 0;
}
footer .container{
    border-top: 2px solid var(--Primary_C1_light);
    padding: 10px 0;
    gap: 10px;
    
}



footer .container > * {
    /* background-color: red; */
    min-height: 50px;
}
footer .container > * h5{
    font-family: var(--Roboto);
}
footer .container > * ul li{
    list-style-type: none;
}
footer .container > * ul li a{
    text-decoration: none;
    color: var(--Primary_C1);
}
footer .container > *:not(:last-child){
    border-right:2px solid var(--Primary_C1_light);
}
footer .brand-logo{
    width: 100%;
}
footer .container >*:last-child {
    text-align: center;
    color: var(--Primary_C1);
}
footer small{
    font-family: var(--Roboto);
    font-size: 1.2rem;
}
.header_steps{
    /* background-color: red !important; */
    border: 3px dotted  var(--Primary_text_Color_light) !important;
    /* height: auto; */
    /* margin-bottom: 30px; */
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}
.header_steps h6 span{
    font-weight: 700;
}
header.steps .container-fluid{
    background-color: var(--Primary_text_Color);
     width: 100% !important;
    height: 80px;
    color: var(--wt);
    margin-top: -15px !important;
    text-align: center;
    border-radius: 10px;
}
header.steps ul{
    color:var(--Primary_C1); 
    margin-top: 10px;
    
}
header.steps ul span{
    color: var(--Primary_text_Color);
    font-weight: 500;
    font-size: 2rem;
}
header.steps ul li{
    list-style-type: none;
    text-align: center;
}
.bold{
    font-weight: 500;
    
}

/* *************
MAKEBOOKING PAGES STYLINGS GOES IN HERE (STARTS)
 **************/

 
/* *************
MAKEBOOKING PAGES STYLINGS GOES IN HERE (ENDS)
 **************/




/* *****  
animate.style STARTS
*******/

/* This only changes this particular animation duration */

.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  
/* *****  
animate.style ENDS
*******/